@model st10384480AgriConnect.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form asp-action="Login" method="post" class="form-control p-4 bg-white shadow-sm">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Login</button>
    <p class="text-danger mt-2">@ViewBag.Error</p>
</form>